.container {
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.8); /* Añadir opacidad al fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  max-width: 1200px; /* Establecer un ancho máximo para el contenedor */
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingLogo {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
  .gameCardsContainer {
    gap: 1%;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
