.container {
  padding: 2%;
  background-color: transparent; /* Hacer el fondo completamente transparente */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho */
}

.gameCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir las tarjetas uniformemente */
  gap: 3%; /* Aumentar el espacio entre tarjetas */
  max-width: 1400px; /* Aumentar el ancho máximo si es necesario */
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingLogo {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
  .gameCardsContainer {
    gap: 2%; /* Ajustar el espacio entre tarjetas para dispositivos móviles */
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
